.about-card-icon {
    width: 100%;
    height: 2100px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 15px;

    background: rgba(139, 92, 246, 0.15);

    color: #a98aff;

    font-family: "Space Grotesk";

    font-weight: 700;

    margin-bottom: 25px;

    overflow: hidden;
}

.about-card-icon img {
    width: 100%;
    height: 100%;

    object-fit: contain;

    display: block;

    border-radius: 15px;
}
