/* Conteneur de l'image agrandi */

.orbit-center {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 1600px;
    height: 1880px;

    border: none;

    border-radius: 0;

    overflow: visible;

    background: transparent;

    box-shadow: none;

    z-index: 5;
}
