/* =========================
   HOME IMAGE
========================= */

.hero-image {
    position: absolute;

    right: 0;
    top: 0;

    width: 55%;
    height: 100vh;

    z-index: 1;

    overflow: hidden;

    pointer-events: none;
}

.hero-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;

    /*
       Fondu de l'image vers le background
       sur tous les côtés
    */
    -webkit-mask-image:
        linear-gradient(
            to right,
            transparent 0%,
            rgba(0,0,0,0.35) 15%,
            black 38%,
            black 75%,
            transparent 100%
        );

    mask-image:
        linear-gradient(
            to right,
            transparent 0%,
            rgba(0,0,0,0.35) 15%,
            black 38%,
            black 75%,
            transparent 100%
        );

    transition: transform 0.8s ease;
}


/* Fondu supplémentaire */

.hero-image::after {
    content: "";

    position: absolute;

    inset: 0;

    background:
        linear-gradient(
            to bottom,
            #08080c 0%,
            transparent 15%,
            transparent 80%,
            #08080c 100%
        ),

        linear-gradient(
            to right,
            #08080c 0%,
            transparent 35%,
            transparent 100%
        );
}


/* Petit mouvement */

.hero-image:hover img {
    transform: scale(1.03);
}
